In [1]:
# importing the dataset 
import pandas as pd
import numpy as np
from sklearn import preprocessing 

df = pd.read_csv('dep.csv')
df.head()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
0,926,91,1,28,1,4,10,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1,747,57,1,23,1,3,8,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,1
2,1190,115,1,22,1,3,9,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
3,1065,97,1,27,1,2,10,4,52667108,19698904,...,0,1,0,1,22288055,18751329,0,7781123,69219765.0,0
4,806,42,0,59,0,4,10,6,82606287,17352654,...,1,0,0,0,53384566,20731006,1,20100562,43419447.0,0

In [2]:
#df = df.reset_index()

In [3]:
#df.round(0)

In [4]:
#def clean_dataset(df):
    #assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    #df.dropna(inplace=True)
    #indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    #return df[indices_to_keep].astype(np.float64)

In [5]:
#df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [6]:
#df.fillna(0)

In [7]:
X = df.drop(columns = ["depressed","no_lasting_investmen"])
#X=X1.drop("no_lasting_investmen", axis=1)
y = df["depressed"]
print(X.shape, y.shape)

(1429, 21) (1429,)

In [8]:
 # Use train_test_split to create training and testing data

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### END SOLUTION

In [9]:
 # Create the model using LinearRegression

### BEGIN SOLUTION
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
### END SOLUTION

In [10]:
 # Fit the model to the training data and calculate the scores for the training and testing data
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

### BEGIN SOLUTION
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
X_train_scaled

array([[0.81582633, 0.3024055 , 1.        , ..., 0.11018726, 1.        ,
        0.20623203],
       [0.74789916, 0.75257732, 1.        , ..., 0.83123663, 0.        ,
        0.13307278],
       [0.60644258, 0.5395189 , 1.        , ..., 0.80974943, 0.        ,
        0.27327784],
       ...,
       [0.28781513, 0.04467354, 1.        , ..., 0.02090383, 0.        ,
        0.43893215],
       [0.78921569, 0.50859107, 0.        , ..., 0.1561831 , 1.        ,
        0.1743141 ],
       [0.70098039, 0.34020619, 1.        , ..., 0.30558569, 1.        ,
        0.77201479]])

In [12]:
X_test_scaled

array([[0.30952381, 0.10996564, 1.        , ..., 0.31285997, 0.        ,
        0.28528785],
       [0.92436975, 0.8556701 , 1.        , ..., 0.31285997, 0.        ,
        0.28528785],
       [0.59243697, 0.50859107, 0.        , ..., 0.31285997, 0.        ,
        0.28528785],
       ...,
       [0.30462185, 0.07560137, 1.        , ..., 0.31285997, 0.        ,
        0.0184825 ],
       [0.78011204, 0.05841924, 1.        , ..., 0.24436979, 1.        ,
        0.96662283],
       [0.62254902, 0.43298969, 1.        , ..., 0.31285997, 0.        ,
        0.28528785]])

In [13]:
#X_train_round = X_train_scaled.round(2)
#X_train_round = X_train_round.fillna()

In [14]:
model.fit(X_train_scaled, y_train)



training_score = model.score(X_train_scaled, y_train)
testing_score = model.score(X_test_scaled, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8328664799253035
Testing Score: 0.835195530726257

In [16]:
coef = model.coef_[0]
print (coef)

[-0.37602981  0.46448024  0.04075966  0.85508998 -0.22293595 -0.68990203
 -0.8108589   1.04688528 -0.24219295  0.59141741 -0.0372438  -0.16518508
  0.38746232  0.4177644   0.04644774  0.12764854 -0.27130528 -0.58387504
  0.15283488 -0.5179481   0.15482527]

In [15]:
r2_score

NameError: name 'r2_score' is not defined

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
training_score = r2_score(X_train_scaled, y_train)
testing_score = r2_score(X_test_scaled, y_test)

In [ ]:
predictions = model.predict_classes(X_test)

In [ ]:
predictionvsactual = pd.DataFrame({"Prediction": predictions, "Actual": y_test})